<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" placeholder="E.g. 5.42" name="user_apr">
<div>
  <label for="year">Number of years</label>
  <input id="year" type="text" placeholder="How many years to repay?" name="user_years">
</div>
<div>
  <label for="principal">Principal</label>
  <input id="principal" type="text" placeholder="How much principal?" name="user_pv">
</div>
<button>Calculate monthly payment</button>
