<form action="/square_root/results">
  <label for="root">Enter a number</label>
  <input id="root" type="text" placeholder="What number do you want to square root?" name="user_number">
  <div>
    <button>Calculate square root</button>
  </div>
